<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>192690528297-qom3upm9ip7hi8f8k2bdgaj7k4qu8dh0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192690528297-qom3upm9ip7hi8f8k2bdgaj7k4qu8dh0</string>
	<key>API_KEY</key>
	<string>AIzaSyAqMPJtPpo_TU21gjjeU_t3Q7LBY8TwppU</string>
	<key>GCM_SENDER_ID</key>
	<string>192690528297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.amazoncloneapp</string>
	<key>PROJECT_ID</key>
	<string>clone-460fd</string>
	<key>STORAGE_BUCKET</key>
	<string>clone-460fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192690528297:ios:9bbb0b967edba9cb1d7c38</string>
</dict>
</plist>